@model SwApi.Models.PreAssemblyViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PreAssemblyModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssemblyFiles" class="control-label"></label>
                <input asp-for="AssemblyFiles" class="form-control-file" />
                <span asp-validation-for="AssemblyFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainFileName" class="control-label"></label>
                <select class="form-control" name="MainFileName" id="MainFileName">
                </select>
                <span asp-validation-for="AssemblyFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        jQuery(function () {


            $(document).on('change', '#AssemblyFiles', function () {
                let names = [];
                for (var i = 0; i < $("#AssemblyFiles").get(0).files.length; ++i) {
                    names.push($("#AssemblyFiles").get(0).files[i].name);
                }
                names.forEach(function (val, index) {
                    let o = new Option(val, val);
                    $(o).html(val);
                    $("#MainFileName").append(o);
                });
            });

 

        }
        );

    </script>
}



