@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a href="PreAssemblyModels/Create">PreAssembly</a>

    <div class="container">
        <div class="row">
            <h1>Pre Assemblies</h1>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Path</th>
                    <th>Status</th>
                </tr>
            </table>
        </div>
        <div class="row">
            <h1>Assemblies</h1>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Path</th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
            </table>
        </div>
    </div>


</div>
